* {
    margin: 0;
    padding: 0;
}
.main {
    position: relative;
    height: 100vh;
    width: 100%;
    background-color: blue;
    border-bottom-left-radius: 80px ;
    border-bottom-right-radius: 80px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 30px 30px;
}
.header a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    margin: 0px 12px;
    padding: 10px 10px;
    font-weight: 500;
}
.main button {
  display: none;
}
.left-header {
    display: flex;
    justify-content: space-between;
}
.right-header {
  display: block;
}
.left-header a {
    font-size: 20px;
    font-weight: 600;
}
.left-header img {
    height: 40px;
    width: 40px;
    
}
.signin {
    background-color: rgb(245, 89, 115);
    color: white;
    border-radius: 40px 40px;
    padding: 8px 8px;
}
.home {
    background-color: rgb(62, 62, 255);
    border-radius: 40px 40px;
   
}
.welcome {
    display: flex;
    justify-content: space-between;
    margin: 60px 35px;
    color: white;

}
.leftcontent p{
    margin: 20px 0px;
    font-weight: 600;
    font-size: 15px;
}
.leftcontent h1 {
    font-weight: 700;
}
.leftcontent .description {
    margin: 30px 0px;
    width: 50%;
    font-size: 14px;
    font-weight: 500;
    text-align: justify;
}
.inputfield input {
  width: 250px;
  height: 30px;
    position: relative;
    border-radius: 15px;
    border: none;
}
.inputfield input::placeholder {
    color: gray;
    padding: 15px;
   
}
.inputfield input:focus {
   outline: none;
}
.inputfield a {
    position: absolute;
    left: 200px;
    text-decoration: none;
    color: white;
    padding: 6px 8px;
    background-color: rgb(245, 89, 115);
    border-radius: 20px;
}
.rightcontent {
    position: relative;
}
.rightcontent img {
    height: 350px;
    width: 300px;
    border-radius: 15px;
}
 .price {
    position: absolute;
    top: 10px;
    right: 20px;
    padding: 5px 10px;
    border-radius: 20px;
    background-color: blue;
    font-weight: 600;
}
 .discount {
    position: absolute;
    height: 80px;
    width: 80px;
    background-color: rgb(245, 89, 115);
    left: -10px;
    bottom: -10px;
    border-radius: 50%;
    display: flex;
   align-items: center;
   
}
.discount p {
    margin: 0px 18px;
}
.cards {
    position: absolute;
    /* display: grid;
    grid-template-columns: auto auto auto auto; */
    display: flex;
    justify-content: space-between;
    gap: 100px;
    bottom: -90px;
   margin: 0px 60px;
   text-wrap: nowrap;
   color: gra;
}
.freestorage {
  
  /* padding: 65px 60px; */
  height: 200px;
  width: 220px;
  background-color: white;
  font-size: 18px;
  font-weight: 500;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}
.usermore {
    
    /* padding: 65px 60px; */
    height: 200px;
    width: 220px;
    background-color: white;
    font-size: 18px;
    font-weight: 500;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
  }
  .reepleready {
    
    /* padding: 65px 60px; */
    height: 200px;
    width: 220px;
    background-color: white;
    font-size: 18px;
    font-weight: 500;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
  }
  .easylayout {
    /* padding: 65px 60px; */
    height: 200px;
    width: 220px;
    background-color: white;
    font-size: 18px;
    font-weight: 500;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
   
  }
  .freestorage p {
    padding: 75px 50px;
  }
  .usermore p {
    padding: 75px 50px;
  }
  .reepleready p {
    padding: 75px 50px;
  }
  .easylayout p {
    padding: 75px 50px;
  }
  .trending {
   margin-top:120px ;
   
  }
  .trending p{
    color: rgb(245, 89, 115);
    font-weight: 600;
    margin-left: 35px;
  }
  .trending-games {
    display: flex;
    justify-content: space-between;
    margin: 10px 35px;
  }
  .trending-games a {
    text-decoration: none;
    color: white;
    padding: 10px 10px;
    background-color: rgb(245, 89, 115) ;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 600;
  }
  .game-image {
    
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    margin-top: 50px;
    padding: 0px 35px;
    
  }
  .img1 {
    position: relative;
    width: fit-content;
    height: 240px;
    background-color: gray;
  }
  .img1 p{
    position: absolute;
    top: 7px;
    right: 7px;
    padding: 8px 10px;
    background-color: blue;
    border-radius: 10px;
    color: white;
  }
  .img1 h4 {
    margin: 0px 17px;
    color: rgb(59, 50, 50);
  }
  .img2 {
    position: relative;
    width: fit-content;
    height: 240px;
    background-color: gray;
  }
  .img2 p{
    position: absolute;
    top: 7px;
    right: 7px;
    padding: 8px 10px;
    background-color: blue;
    border-radius: 10px;
    color: white;
  }
  .img2 h4 {
    margin: 0px 17px;
    color: rgb(59, 50, 50);
  }
  .img3 {
    position: relative;
    width: fit-content;
    height: 240px;
    background-color: gray;
     }
     .img3 p{
        position: absolute;
        top: 7px;
        right: 7px;
        padding: 8px 10px;
        background-color: blue;
        border-radius: 10px;
        color: white;
      }
      .img3 h4 {
        margin: 0px 17px;
        color: rgb(59, 50, 50);
      }
        .img4 {
        position: relative;
        width: fit-content;
        height: 240px;
        background-color: gray;
         }
         .img4 p{
            position: absolute;
            top: 7px;
            right: 7px;
            padding: 8px 10px;
            background-color: blue;
            border-radius: 10px;
            color: white;
          }
          .img4 h4 {
            margin: 0px 17px;
            color: rgb(59, 50, 50);
          }
          .description {
            display: flex;
            justify-content: space-between;
            margin: 0px 15px;
          }
          .description img {
            height: 30px;
            width: 30px;
            background-color: blue;
          }
    .topgames {
        margin: 80px 35px;
    }
   .topgames p {
    color: rgb(245, 89, 115);
    font-weight: 600;
    /* margin-top: 100px; */
    padding-top: 60px;

   }
   .mostplayed {
    display: flex;
    justify-content: space-between;
   }
   .mostplayed h2 {
    margin: 10px 0px;
   }
   .mostplayed a {
    text-decoration: none;
    color: white;
    padding: 14px 12px;
    background-color: rgb(245, 89, 115) ;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 600; 
  }
  .mostplayed-images {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    margin: 0px 35px;
    gap: 6px;
  }
  .newimg1 {
    height: 370px;
    width: fit-content;
    background-color: white;
  }
  .newimg1 p {
    text-align: center;
    color: gray;
    margin-top: 4px ;
    }

  .newimg2 {
    height: 370px;
    width: fit-content;
    background-color: white;
  }
  .newimg2 p {
    text-align: center;
    color: gray;
    margin-top: 4px ;
    }

  .newimg3 {
    height: 370px;
    width: fit-content;
    background-color: white;
  }
  .newimg3 p {
    text-align: center;
    color: gray;
    margin-top: 4px ;
    }
  .newimg4 {
    height: 370px;
    width: fit-content;
    background-color: white;
  }
  .newimg4 p {
    text-align: center;
    color: gray;
    margin-top: 4px ;
    }
  .newimg5 {
    height: 370px;
    width: fit-content;
    background-color: white;
  }
  .newimg5 p {
    text-align: center;
    color: gray;
    margin-top: 4px ;
    }
  .newimg6 {
    height: 370px;
    width: fit-content;
    background-color: white;
  }
  .newimg6 p {
    text-align: center;
    margin-top: 4px ;
    }
  .newimg3 img {
    height: 275px;
    width: 183px;

  }

  .newimg4 img {
    height: 275px;
    width: 183px;
 }

 .newimg5 img {
    height: 275px;
    width: 183px;
    }

.newimg6 img {
    height: 275px;
    width: 183px;
    }

    .mostplayed-images h3 {
        margin:3px 0px ;
        text-align: center;
    }
    .mostplayed-images h4 {
        margin-top: 5px ;
        color: white;
        background-color:  rgb(245, 89, 115);
        text-align: center;
        padding: 3px 8px;
        border-radius: 20px;
        width: fit-content;
        margin: auto;

    }
    .outer {
        width: fit-content;
        height: 700px;
        background-color: whitesmoke;
        border-radius: 70px;
    }
    .category {
        margin-top: 50px;
        text-align: center;
    }
    .category p {
        font-size: 16px;
        font-weight: 600;
        color:  rgb(245, 89, 115);
    }
    .category h2 {
        margin-top: 10px;
    }
    .superhero {
        display: grid;
        grid-template-columns: auto auto auto auto auto;
        gap: 10px;
       padding: 80px 50px;
    }
    .superhero-img1 {
        display: flex;
        align-items: end;
        height: 250px;
        width: fit-content;
        background-color: blue;  
        border-radius: 30px;
        position: relative;
    }
    .superhero-img1 p {
      position: absolute;
      top: 15px;
      left: 72px;
      bottom: 15px;
      color: white;
      font-size: 16px
    }
    .superhero-img2 {
      display: flex;
      align-items: end;
      height: 250px;
      width: fit-content;
      background-color: blue;  
      border-radius: 30px;
      position: relative;
  }
  .superhero-img2 p {
    position: absolute;
    top: 15px;
    left: 72px;
    bottom: 15px;
    color: white;
    font-size: 16px
  }
  .superhero-img3 {
    display: flex;
    align-items: end;
    height: 250px;
    width: fit-content;
    background-color: blue;  
    border-radius: 30px;
    position: relative;
}
.superhero-img3 p {
  position: absolute;
  top: 15px;
  left: 72px;
  bottom: 15px;
  color: white;
  font-size: 16px
}
.superhero-img4 {
  display: flex;
  align-items: end;
  height: 250px;
  width: fit-content;
  background-color: blue;  
  border-radius: 30px;
  position: relative;
}
.superhero-img4 p {
  position: absolute;
  top: 15px;
  left: 72px;
  bottom: 15px;
  color: white;
  font-size: 16px
}
.superhero-img5 {
  display: flex;
  align-items: end;
  height: 250px;
  width: fit-content;
  background-color: blue;  
  border-radius: 30px;
  position: relative;
}
.superhero-img5 p {
  position: absolute;
  top: 15px;
  left: 72px;
  bottom: 15px;
  color: white;
  font-size: 16px
}
    .superhero img {
      border-radius: 30px;
        height: 201px;
        width: 186px;
    }
    .shoping-cards {
      /* margin: 100px 65px; */
      padding: 80px 50px;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 15px;
    }
    .shoping-card1 {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      height: 220px;
      width: 279px; 
      background-color: whitesmoke;
      padding: 20px 30px;
      border-radius: 20px;
    }
     .shop {
      color: rgb(245, 89, 115);
      font-weight: 600;
    }
    .shoping-card1 h3 {
      margin: 10px 0px;
    }
    .btn {
      width: fit-content;
      padding: 8px 5px;
      color: white;
      border-radius:10px;
      background-color: rgb(245, 89, 115);
      font-size: 14px;
    }
    .data {
      margin: 15px 0px;
    }
    .shoping-card2 img {
      height: 260px;
      width: 339px;
      border-radius: 20px;
    }
    .shoping-card3 {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      height: 220px;
      width: 279px;
      padding: 20px 30px;
      border-radius: 20px;
      background-color: whitesmoke;
    }
    .shoping-card3 input{
      width: 60%;
      height: 20px;
      border-radius: 10px;

    }
    /* .shoping-card3 input:focus {
      outline: none;
    } */
    .shoping-card3 input::placeholder {
      padding: 0px 5px;
    }
    .news {
      color: rgb(245, 89, 115);
      font-size: 14px;
      font-weight: 600;
    }
    .newbtn {
     
      font-size: 14px;
      width: fit-content;
      color: white;
      padding: 5px 5px;
      background-color: rgb(245, 89, 115);
      border-radius: 10px;
    }
    .footer {
      position: relative;
      width: 100%;
      height: 100px;
      background-color: blue;
      border-top-left-radius: 50px;
      border-top-right-radius: 50px;
    }
    .footer p{
      position: absolute;
      left: 45%;
      color: white;
      top: 20%;
    }
    @media screen and (max-width:768px) {
      .right-header {
        display: none;
      }
      .main {
        width: 100%;
        height: 100%;
        position: relative;
      }
      .main button {
        display: block;
        padding: 0px 10px;
        background-color: rgb(245, 89, 115);
        color: white;
      }
      .right-header {
        display: none;
        position: absolute;
        left: 0;
        top: 0;
        width: 50%;
        height: 70%;
        background-color: rgb(245, 89, 115);
        
      }
      .right-header a {
        display: block;
        background: transparent;
        padding: 20px 5px;
      }
      /* .rightcontent img {
        width: 100%;
        height: 100%;
      } */
      /* .inputfield {
        width: 0%;
        height: 20px;
      } */
    }
    @media screen and (max-width:640px) {
      .welcome {
        flex-wrap: wrap;
      }
      .leftcontent .description {
        width: 100%;
      }
      .leftcontent input {
        width: 100%;
      }

.rightcontent img {
  margin: 20px 0px;
  width: 100%;
  height: 80vh;
}
    }